# Logs
*.log

# Compiled binary addons (https://nodejs.org/api/addons.html)
build/Release

# Dependency directories
node_modules/
public/assets

# Optional eslint cache
.eslintcache

package-lock.json