.about-intro {
  margin-bottom: 4rem;
}

.about .photo {
  width: 90%;
  margin: auto;
  max-width: 320px;
  padding: 7px;
  padding-bottom: 0;
  padding-right: 0;
  box-shadow: -48px -48px 0 -40px var(--darkCharcoal),
    48px 48px 10px -40px var(--brandColor);
}

.about .photo:hover {
  padding: 0px;
  padding-bottom: 7px;
  padding-right: 7px;
  box-shadow: -48px -48px 10px -40px var(--darkCharcoal),
    48px 48px 0 -40px var(--brandColor);
}

.about .introduce {
  padding: 0 1rem;
}

.about .introduce h2 {
  margin-top: 3rem;
  font-size: 1.8rem;
  font-weight: 600;
}

.about .introduce .text {
  padding: 0.4rem 0;
  text-align: justify;
  font-size: 1.05rem;
}

.about .introduce .text b { 
  background-color: #fffaa9;
}

.about .introduce span {
  background-color: #a9eeff;
  font-weight: 500;
}

.education.container {
  margin-top: 3rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background: var(--lightBackg);
}

.education .wrapper {
  margin: auto;
}

.education p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.05rem;
  line-height: 1.3;
}

.education p span {
  margin: 0.3rem 0;
}

.education .bachelor p {
  word-spacing: 4px;
}

.education .date {
  color: #5e5e5e;
}

.bachelor {
  display: flex;
}

.bachelor span span {
  font-weight: 500;
}

.fas.fa-graduation-cap {
  display: none;
}

.edu-other h3 {
  margin-top: 2.25rem;
  margin-bottom: 1.25rem;
  font-size: 1.3rem;
}

@keyframes arrowMovement {
  0% {
    transform: translateY(0px);
  }
  70% {
    transform: translateY(-30px);
  }
  80% {
    transform: translateY(0px);
  }
  90% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0px);
  }
}
