.about .row.one {
  margin-bottom: 4rem;
}

.about .col-left img {
  width: 90%;
  margin: auto;
  max-width: 450px;
  padding: 7px;
  padding-bottom: 0;
  padding-right: 0;
  box-shadow: -48px -48px 0 -40px var(--darkCharcoal),
    48px 48px 10px -40px var(--brandColor);
}

.about .col-left img:hover {
  padding: 0px;
  padding-bottom: 7px;
  padding-right: 7px;
  box-shadow: -48px -48px 10px -40px var(--darkCharcoal),
    48px 48px 0 -40px var(--brandColor);
}

.about .col-right h2 {
  padding: 2rem 0 0 0;
  font-size: 1.8rem;
  font-weight: 600;
  font-family: var(--largeFont);
}

.about .col-right .text {
  padding: 0.4rem 0;
}

.about .row.two {
  background: var(--lightBackg);
  padding-top: 4rem;
  padding-bottom: 4rem;
  text-align: center;
}

.competence {
  display: flex;
  flex-wrap: wrap;
}

.competence h2 {
  width: 100%;
  margin-bottom: 3rem;
}

.competence .col-left,
.competence .col-right {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 0 1rem;
}

.about .row.two .item {
  padding: 1.5rem;
  margin: 0.5rem 0;
}

.about .row.two .item span {
  font-size: 2rem;
}

.about .row.two .item h3 {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1rem;
}

.about .row.two .item .text {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.about.py-5 {
  padding-bottom: 0;
}

@keyframes arrowMovement {
  0% {
    transform: translateY(0px);
  }
  70% {
    transform: translateY(-30px);
  }
  80% {
    transform: translateY(0px);
  }
  90% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0px);
  }
}
