/* contact */
.contact-wrapper {
  width: 80%;
  margin: 0 auto;
}
.contact .row {
  padding-bottom: 1rem;
}

.contact-wrapper .row a {
  color: var(--darkCharcoal);
  font-weight: 500;
}

.contact-wrapper .item:first-of-type a {
  white-space: nowrap;
}

.contact .row .item {
  text-align: center;
  padding: 1.5rem;
  margin: 1rem 0;
}
.contact .row .item span:first-child {
  font-size: 1.4rem;
  color: #fff;
  background: black;
  display: flex;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  place-items: center;
  place-content: center;
  margin: 1.2rem auto;
}
.contact-form {
  padding: 1rem 0;
}
.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
  width: 100%;
  border: none;
  border-bottom: 1.5px solid #c7c7c7;
  font-size: 1rem;
  padding: 0.7rem;
  margin-bottom: 1.5rem;
  font-family: var(--smallFont);
  outline: 0;
}
.contact-form input:focus,
.contact-form textarea:focus {
  border-color: var(--darkCharcoal);
}
.contact-form input[type="submit"] {
  cursor: pointer;
}

.btn {
  border: 2px solid #000;
  border-radius: 25px;
  display: block;
  margin: 1rem auto;
  font-size: 0.9rem;
  text-transform: uppercase;
  padding: 0.6rem 0;
  width: 180px;
  transition: all 0.5s ease-in-out;
}
.btn:hover {
  background: #000;
  color: #fff;
}