/* Footer */
.footer {
  background: #000;
}

.footer .social-links {
  justify-content: center;
}

.footer .social-links li {
  margin: 0.5rem;
  font-size: 1rem;
}

.footer .text {
  text-align: center;
  font-weight: 400;
}