@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700;800;900&family=Rubik:wght@300;400;500;600;700;800;900&display=swap");

@import "navbar.css";
@import "portfolio.css";
@import "about.css";
@import "skills.css";
@import "contact.css";
@import "footer.css";

:root {
  --largeFont: "Raleway", sans-serif;
  --smallFont: "Rubik", sans-serif;
  --lightBackg: #f5f5f5;
  --darkCharcoal: #333;
  --brandColor: #00aeff;
  --transition: all 0.4s ease;
  --transition2: all 2s ease;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  line-height: 1.5;
  font-family: var(--smallFont);
  position: relative;
  overflow: hidden;
}

.preloader {
  position: absolute;
  background: #fff;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
}

.loader {
  position: absolute;
  left: calc(50% - 30px);
  top: 50%;
  transform: translate(-50%, -50%);
  width: 60px;
  height: 60px;
  border: 6px solid var(--lightBackg);
  border-radius: 50%;
  border-top: 6px solid var(--darkCharcoal);
  animation: spin 1s linear infinite;
}

.title {
  text-align: center;
  padding: 0.5rem 0 1.8rem 0;
}

.title h2 {
  text-transform: uppercase;
  font-size: 2rem;
  font-family: var(--largeFont);
  font-weight: 800;
  letter-spacing: 4px;
}

.title .hoz-line {
  width: 100%;
  height: 4px;
  background: var(--darkCharcoal);
  width: 80px;
  margin: 0.4rem auto 0.6rem auto;
}

.social-links a {
  color: #fff;
}

.social-links li {
  margin: 0.5rem 1.5rem;
  font-size: 1.5rem;
  transition: var(--transition);
}

.social-links li:hover {
  opacity: 0.7;
  cursor: pointer;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.hidePreloader {
  display: none;
}

/* #### Uitlity stylings #### */
img {
  width: 100%;
  display: block;
}
a {
  text-decoration: none;
}

li {
  list-style-type: none;
}
button {
  outline: 0;
  cursor: pointer;
}
.container {
  max-width: 1320px;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
}
.py-5 {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.text {
  font-size: 0.95rem;
  color: var(--darkCharcoal);
  margin: 0.6rem 0;
  font-weight: 300;
  line-height: 1.6;
}

/* Media Queries */
@media screen and (min-width: 600px) {
  #typeEffect {
    font-size: 5rem;
    min-height: 240px;
  }
  .tech .item {
    min-width: 220px;
  }
  .portfolio .container {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .portfolio .project {
    width: 56%;
    margin: 2rem 1rem;
  }

  .about .col-left img {
    width: 50%;
  }

  .contact-form {
    width: 70%;
  }
}

@media screen and (min-width: 768px) {
  .navbar .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .navbar-toggler {
    display: none;
  }

  .navbar-collapse {
    height: 100%;
    flex: 1 0 auto;
  }

  .navbar-nav {
    display: flex;
    justify-content: flex-end;
  }

  .nav-item {
    border-bottom: none;
    margin: 0 1rem;
  }

  .navbar-logo {
    margin: 0;
    box-shadow: none;
  }

  .about .row.two .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .portfolio .project {
    width: 40%;
  }

  .skills .row.two .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .contact .row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
  }
}

@media screen and (min-width: 992px) {
  .about .row.one {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    align-items: center;
  }

  .about .col-left img {
    width: 75%;
  }

  .about .col-right h2 {
    padding-top: 0;
  }

  .about .row.two .container {
    grid-template-columns: repeat(4, 1fr);
  }

  .about .row.two .item .text {
    width: 100%;
  }

  .tech .item {
    min-width: 240px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

   .portfolio .project {
    width: 30%;
    max-width: 400px;
  }

  .contact-wrapper {
    width: 60%;
  }
  .contact-form div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
  }
}

@media screen and (min-width: 1200px) {
  .tech .item {
    min-width: 180px;
  }
}

.resize-transition-stopper * {
  transition: none;
}
