.navbar {
  background: #000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  box-shadow: 0px -3px 12px 0px rgba(0, 174, 255, 1);
  -webkit-box-shadow: 0px -3px 12px 0px rgba(0, 174, 255, 1);
  -moz-box-shadow: 0px -3px 12px 0px rgba(0, 174, 255, 1);
  display: none;
}
.navbar-sm {
  display: flex;
  justify-content: space-between;
}
.navbar-brand {
  color: #fff;
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: capitalize;
}
.navbar-toggler {
  background: none;
  border: none;
  font-size: 1.6rem;
  color: var(--whiteSmoke);
  transition: var(--transition);
}
.navbar-toggler:hover {
  opacity: 0.9;
  color: #00aeff;
}
.navbar-collapse {
  height: 0;
  overflow: hidden;
  transition: var(--transition);
}
.navbar-nav {
  text-align: center;
}
.nav-item {
  padding: 8px 0;
  border-bottom: 1.5px solid var(--whiteSmoke);
}
.nav-item:last-child {
  border-bottom: none;
}
.nav-link {
  color: #fff;
  text-transform: uppercase;
  transition: var(--transition);
}
.nav-link:hover {
  color: #00aeff;
}
.toggleNav {
  padding: 1rem 0;
  height: 286px;
}

.header {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../assets/img/banner-img.jpg) center/cover no-repeat fixed;
  height: 100vh;
}

.header .row {
  height: 100%;
  display: grid;
  place-items: center;
  place-content: center;
  text-align: center;
}

#typeEffect {
  min-height: 144px;
  font-size: 3rem;
  font-family: var(--largeFont);
  font-weight: 900;
  color: #fff;
}

.social-links {
  display: flex;
}

.down-arrow {
  margin-top: 2.8rem;
  animation-name: arrowMovement;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  transition: var(--transition);
}

.down-arrow a {
  color: #fff;
  font-size: 2rem;
}