.portfolio {
  display: flex;
  flex-direction: column;
}

.portfolio .container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: var(--lightBackg);
}

.portfolio .item {
  position: relative;
  margin: 2rem auto;
  width: 90%;
  box-shadow: 0px 0px 2px var(--darkCharcoal);
}

.portfolio .caption {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  margin: auto;
  background-color: var(--darkCharcoal);
}

.portfolio .caption h3 {
  color: #fff;
}

.portfolio .item::after {
  position: absolute;
  background: #333333fa;
  content: "";
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  transition: var(--transition);
}

.portfolio .item .sub-item {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: 1rem 10%;
  text-align: justify;
  color: #fff;
  z-index: 2;
  opacity: 0;
  transition: var(--transition);
}

.portfolio .item .sub-item h3 {
  margin: 1.2rem 0;
  text-transform: uppercase;
  font-size: 22px;
  letter-spacing: 1px;
  word-spacing: 10px;
  font-family: var(--largeFont);
}

.portfolio .item .sub-item .text {
  color: #fff;
}

.portfolio .item .sub-item a {
  align-self: flex-start;
  margin: 0.25rem 1rem;
  color: #fff;
}

.portfolio .item .sub-item a i {
  margin: 0 0.75rem;
}

.portfolio .item::after {
  width: 100%;
  height: 100%;
}

.portfolio .item .sub-item {
  opacity: 1;
}
