.portfolio {
  display: flex;
  flex-direction: column;
}

.portfolio .container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: var(--lightBackg);
}

.portfolio .project {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin: 2rem auto;
  box-shadow: 0px 0px 2px var(--darkCharcoal);
  background-color: var(--darkCharcoal);
}

.portfolio .item {
  position: relative;
}

.portfolio .project-stack {
  width: 100%;
  min-height: 64px;
  margin: auto;
  padding: 0.5rem 0.75rem;
  text-align: justify;
  text-align-last: center;
  color: #fff;
}
.portfolio .item::after {
  position: absolute;
  background: #333333fa;
  content: "";
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  transition: var(--transition);
}

.portfolio .item .sub-item {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.75rem;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  text-align: justify;
  color: #fff;
  z-index: 2;
  opacity: 0;
  transition: var(--transition);
}

.portfolio .item .sub-item h3 {
  text-transform: uppercase;
  font-size: 22px;
  letter-spacing: 1px;
  word-spacing: 10px;
  font-family: var(--largeFont);
}

.portfolio .item .sub-item .text {
  color: #fff;
}

.portfolio .item .sub-item a {
  align-self: flex-start;
  margin: 0.25rem 1rem;
  color: #fff;
}

.portfolio .item .sub-item i {
  margin: 0 0.75rem;
}

.portfolio .item .sub-item ul {
  padding-left: 25px;
}

.portfolio .item .sub-item ul i {
  margin-right: 0.75rem;
  margin-left: -25px;
}

.portfolio .item:hover::after {
  width: 100%;
  height: 100%;
}

.portfolio .item:hover .sub-item {
  opacity: 1;
}
