/* Skills */
.tech {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: center;
  background: var(--whiteSmoke);
}

.tech .item {
  min-width: 240px;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tech img {
  margin-left: auto;
  margin-right: auto;
  margin-top: 6px;
  margin-bottom: 6px;
  width: auto;
  max-width: 100%;
  transition: all 0.4s ease-in-out 0s;
  filter: drop-shadow(0px 0px 2px #222);
}

.tech img:hover {
  cursor: default;
  transition: all 0.5s ease-in-out 0s;
  transform: rotateY(360deg);
}

.tech .item:nth-child(5) img:hover,
.tech .item:nth-child(6) img:hover {
  transform: rotate(360deg);
}

.tech .item h3:hover {
  cursor: default;
  text-shadow: 1px 1px 4px #00aeff;
}

.skills .row.two {
  background: var(--whiteSmoke);
  padding-top: 4rem;
  padding-bottom: 4rem;
  text-align: center;
}

.skills .img {
  width: auto;
}

.skills .row.two .item {
  padding: 1.5rem;
  margin: 0.5rem 0;
}

.skills .row.two .item h2 {
  font-size: 1.6rem;
  margin-bottom: 40px;
}

.progress-bar {
  margin: 0.5rem 0;
  width: 100%;
  height: 1rem;
  background: #000;
  position: relative;
}

.progress-move {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 0;
  transition: width 4s linear 1s;
}

.progress-bar h3 {
  font-size: 14px;
  position: absolute;
  top: -33px;
  width: 100%;
  padding-left: 0;
}